
# Created by https://www.gitignore.io/api/jekyll

## mac nonsense
.DS_Store
.code_workspace

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata

# End of https://www.gitignore.io/api/jekyll

*.code-workspace
