@font-face {
    font-family: 'Bitter';
    src: url('../fonts/bitter-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Junge Regular';
    src: url('../fonts/junge-regular-webfont.woff') format('woff');
}
@font-face {
    font-family: 'Ubuntu Condensed';
    src: url('../fonts/ubuntu-c-webfont.woff') format('woff');
}
@font-face {
    font-family: '04b03regular';
    src: url('../fonts/04b_03__-webfont.woff') format('woff');
}